:root {
    --coklat: #a28761;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body{
    font-size: 1.2rem;
    font-family: 'Work Sans' , sans-serif;
    min-height: 4500px;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/PLJ_4268.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.hero{
    position: relative;
    min-height: 100vh;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    margin-bottom: -3rem;
    font-weight: 500;
}

.hero h2{
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: 500;
}

.hero h4{
    font-size: 1.8rem;
    margin-top: 380px;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.hero span{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    /* padding-top: 20rem;
    padding-bottom: 2rem; */
}

.hero p{
    padding-top: 1.8rem;
    font-size: 1rem;
}

.hero a{
    margin-bottom: 2rem;
}

.hero a,
.info a,
.gifts button{
    margin-top: 10px;
    color: var(--coklat);
    background-color: white;
    box-shadow: var(--shadow);
    font-weight: bold;

}
.hero a:hover,
.info a:hover,
.gifts button:hover {
    background-color: var(--coklat);
    color: white;
}

.mynavbar{
    background-color: rgb(255 255 255 / 0.3) !important;
    backdrop-filter : blur(1px);
}

.mynavbar .offcanvas{
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title{
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
    font-weight: bold;
}

.mynavbar .nav-link{
    text-transform: uppercase;
}

.home{
    background-image: url(img/bg1.png);
    background-size: cover;
    min-height: 50rem;
    margin-top: -5rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
}


.home h2,
.info h2,
.story h2,
.rsvp h2,
.gifts h2,
.gallery h2,
.komentar h2 {
    color: var(--coklat);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.home h3{
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p{
    font-size: 1.1rem;
    color: #666;
}

.home .couple a{
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
 }

.home .couple a:hover{
    color: var(--coklat);
 }

.home ul.ig {
    margin-left: -2rem;
}

.home .couple li{
    list-style: none;
    display: inline;
    /* margin: 0.5rem; */
 }

.home .couple{
    margin-top: 50px;
}

.home .couple h3{
    font-family: 'Sacramento';
    font-size: 2.4rem;
    color: var(--coklat);
}

.home img{
    width: 100%;
}

.info {
    background-image: url(img/bg11.png);
    background-size: cover;
    color: var(--coklat);
    padding-top: 8rem;
    padding-bottom: 8rem;
}


.info h1{
    color: var(--coklat);
    font-weight: bold;
}

.info h2,
.gifts h2{
    font-style: italic;
    font-weight: 300;
}

.info .alamat{
    font-size: 1.1rem;
    margin-top: 10px;
}

.info .card{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: none;
}

.info .card img{
    border-radius: 7%;
    box-shadow: var(--shadow);
}


.info .card-header{
    border-bottom: 2px solid #999;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    font-family: 'Sacramento';
    padding-top: 100px;
}

.info .card-body{
    font-size: 1.3rem;
    font-weight: bold;
}

.info .card-body span {
    padding-top: 1rem;
}

.info .card-footer{
    border-top: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;

}

.counting-down{
    background-image: url(img/bg3.png);
    background-size: contain;
    background-position: center;
    padding-bottom: 2rem;
}

.counting-down h2{
    color: white;
    font-weight: 500;
    padding-top: 20rem;
    letter-spacing: 0.3rem;
}

.story,
.gifts,
.komentar{
    background-color: #f5f5f5;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.story p,
.rsvp p,
.gifts p,
.gallery p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--coklat);
}

.story li p{
    color: white;
}

.timeline{
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
    color: white;
}

.timeline::before{
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li{
    margin-bottom: 1.5rem;
    position: relative;
}

.timeline li::before,
.timeline li::after{
    content: '';
    display: table;
}

.timeline li::after{
    clear: both;
}

.timeline li .timeline-image{
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 35%;
    float: left;
    border: 1px solid var(--coklat);
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    background-color: var(--coklat);
}

.timeline li .timeline-panel::before{
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;

}

.timeline li .timeline-panel::after{
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid var(--coklat);
    border-right: 0 solid var(--coklat);
    border-bottom: 14px solid transparent;
    top: 81px;
    right: -13px;
}

.timeline li.timeline-inverted .timeline-panel{
    float: right;
}

.timeline li.timeline-inverted .timeline-panel::before{
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}

.timeline-body{
    font-size: 1rem ;
}

.rsvp{
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: var(--coklat);
}

.rsvp .kotak {
    background-image: url(img/bg12.png);
    background-color: white;
    background-size: cover;
    border-radius: 10%;
    padding: 2rem 0 2rem 0;
}

.rsvp input,
.rsvp select{
    background-color: var(--coklat);
    color: white;
}

.rsvp h2{
    font-size: 4.5rem;
}

.rsvp p,
.rsvp form label{
    color: var(--coklat);
}

.rsvp button{
    background-color: var(--coklat);
    color: white;
    border: 1px solid var(--coklat);
}

.rsvp button:hover{
    background-color: white;
    color: var(--coklat);
    border: 1px solid white;
}

.gifts input{
    border: none; 
    text-align: right; 
    width: 20%; 
    background-color: white;
}

.gallery{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.gallery img.gallery-img:hover{
    opacity: 0.7;
}

 footer{
    padding: 3rem;
    background-color: #9b7f6f;
    color: white;
}

 footer a{
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
 }

 footer a:hover{
    color: white;
 }

 footer li{
    list-style: none;
    display: inline;
    margin: 0.5rem;
 }

.audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating {
    form{
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}



/* media query */
/* Extra large */
@media (max-width:1200px) {

    .info .card-header{
        font-size: 2.2rem;
        padding-top: 50px;
    }

    .info .card-body{
        font-size: 1rem;
    }

}

/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }


    .hero h4 {
        margin-top: 480px;
    }

    .counting-down {
        background-size: cover;
    }

    .simply-countdown>.simply-section{
     padding: 50px;   
    }

    .info .card-header{
        font-size: 2rem;
    }

    .info .card-body{
        font-size: 1rem;
    }

    .timeline::before{
        left: 60px;
    }

    .timeline li .timeline-image{
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    .timeline li .timeline-panel{
        width: calc(100% - 200px);
        float: right;
    }

    .timeline li .timeline-panel::before{
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li .timeline-panel::after{
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }

    .gifts input{
        width: 35%; 
    }

}
/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .hero h4 {
        margin-top: 500px;
    }

    .hero a{
        margin-bottom: 1rem;
    }

    .info .card-header{
        font-size: 3.7rem;
        padding-top: 110px;
    }

    .info .card-body{
        font-size: 1.8rem;
    }

    .simply-countdown>.simply-section{
        padding: 35px;
        margin: 5px;
    }

    .mynavbar .nav-link{
        font-size: 1.8rem;
        text-align: center;
    }

    .sticky-top{
        overflow: hidden;
    }

    .timeline li .timeline-image{
        width: 130px;
        height: 130px;
    }

    .timeline li .timeline-panel{
        width: 70%;
    }

    .timeline li .timeline-panel::before{
        top: 60px;
    }

    .timeline li .timeline-panel::after{
        top: 61px;
    }

    .rsvp button{
        margin-top: -30px;
    }

    .gifts input{
        width: 30%; 
    }

    
}
/* hp  */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }

    body{
        overflow-x: hidden;
    }

    .simply-countdown>.simply-section{
     padding: 20px;
     margin: 3px;
    }

    .simply-countdown>.simply-section .simply-amount {
        font-size: 100%;
    }

    .hero a{
        font-size: 10px;
        margin-bottom: 0.1rem;
    }

    .info .card-header{
        font-size: 3.5rem;
        padding-top: 100px;
    }

    .info .card-body{
        font-size: 1.5rem;
    }

    .timeline li .timeline-image{
        width: 100px;
        height: 100px;
    }

    .timeline li .timeline-panel{
        width: 65%;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before{
        top: 50px;
    }

    .timeline li .timeline-panel::after{
        top: 51px;
    }

    .rsvp {
        padding: 8rem 2rem 8rem 2rem;

    }

    .rsvp input,
    .rsvp select{
        margin-bottom: -10px;
    }

    .gifts input{
        width: 25%;
    }

}